<div class="container-fluid">
  <div class="row no-gutters" style="height: 100vh">
    <!-- Left Block -->
    <div class="col-6">
    
          <img class="img-fluid " src="./assets/music3.jpg" 
           style=" width: 100vh;
                  height: 100vh;
                  object-fit: cover">
    </div>

    <!-- Right Block-->
    <div class="col-6 " [formGroup]="fbFormGroup">
      <div class="row align-items-center justify-content-center  " style="height: 20%; 
                  background-color:rgb(246, 204, 13) ;">
       <div style="font-weight: bold ; font-size: 80px;">NOX Music</div>
       
      </div>
      
      

      <div class="row flex-column align-items-top  justify-content-center " style="height: 80%">
        <div class="col-12 d-flex flex-column align-items-top  justify-content-center">
          <div class="form-row justify-content-center align-items-center">
            <div class="col-md-6">
              <div style="font-style: initial; font-weight: bold ; font-size: 60px;display:flex;
                          align-items:center;justify-content: center;">LOGIN HERE</div>
            </div>
          </div>

          <div class="form-row justify-content-center">
            <div class="col-md-6">
              <div  style="font-style: initial; font-weight: bold ; font-size: 20px;" >Email-Address</div>
              <input type="email" placeholder="Email-Address" class="form-control my-2 p-4" formControlName="email" />
            </div>
          </div>

          <div class="form-row justify-content-center">
            <div class="col-md-6">
              <div style="font-style: initial; font-weight: bold ; font-size: 20px;">Password</div>
              <input type="password" placeholder="Password" class="form-control my-2 p-4"  formControlName="password"/>
            </div>
          </div>

          <div class="form-row justify-content-center mt-1">
            <div class="col-lg-6">
               <button type="button" class="btn1" (click)="loginHere()">LOGIN</button> 
            </div>
          </div>

          <div class="form-row justify-content-center">
            <div class="col-lg-6">
              <div>
              <a routerLink="#">Forgot password ?</a></div>
            </div>
          </div>
          
          <div class="form-row justify-content-center">
            <div class="col-lg-6">
              <div>You don't have an account?
              <a routerLink="/register">Register Here.</a></div>
            </div>
          </div>
          
          



        </div>
      </div>
      
    </div>

     
  </div>
</div>
