<div class="modal-header">
  <h4 class="modal-title">{{ data.title }}</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem assumenda
    nulla, unde hic a earum dolorum mollitia et debitis aspernatur inventore aut
    adipisci, nemo rem similique minima id cum soluta consequuntur vero corrupti
    possimus voluptate nostrum. Numquam tenetur natus consequuntur ducimus, ea
    explicabo nulla minima, corporis necessitatibus molestias, sequi soluta.
  </p>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
