<div class="container-fluid">
  <div class="row no-gutters" style="height: 100vh">
    <!-- Left Block -->
    <div class="col-6">

      <img class="img-fluid " src="./assets/music1.jpg" style=" width: 100vh;
                  height: 100vh;
                  object-fit: cover">
    </div>

    <!-- Right Block-->
    <div class="col-6 " [formGroup]="fbFormGroup">
      
      <div class="row align-items-center justify-content-center"
        style="height: 20%; background-color:rgb(63, 223, 215) ;">
        <div style="font-weight: bold ; font-size: 80px; color:rgb(5, 0, 0)">NOX Music</div>

      </div>



      <div class="row flex-column align-items-top  justify-content-center " style="height: 80%">
        <div class="col-12 d-flex flex-column align-items-top  justify-content-center">
          <div class="form-row justify-content-center align-items-center">
            <div class="col-md-6">
              <div style="font-style: initial; font-weight: bold ; font-size: 60px;display:flex;
                          align-items:center;justify-content: center;">REGISTER</div>
            </div>
          </div>

          <div class="form-row justify-content-center">
            <div class="col-md-6">
              <div style="font-style: initial; font-weight: bold ; font-size: 20px;">Username</div>
              <input required type="text" placeholder="Username" class="form-control my-0.5 p-4" formControlName="username" />
              
            </div>
          </div>

          <div class="form-row justify-content-center">
            <div class="col-md-6">
              <div style="font-style: initial; font-weight: bold ; font-size: 20px;">Email-Address</div>
              <input type="email" placeholder="Email-Address" class="form-control my-0.5 p-4" formControlName="email" />
            </div>
          </div>

          <div class="form-row justify-content-center">
            <div class="col-md-6">
              <div style="font-style: initial; font-weight: bold ; font-size: 20px;">Password</div>
              <input type="password" placeholder="Password" class="form-control my-0.5 p-4"
                formControlName="password" />
            </div>
          </div>



          <div class="form-row justify-content-center">
            <div class="col-md-6">
              <div style="font-style: initial; font-weight: bold ; font-size: 20px;">Mobile No.</div>
              <input type="text" placeholder="Mobile No." class="form-control my-1 p-4" formControlName="mobile" />
            </div>
          </div>

          <div class="form-row justify-content-center mt-1">
            <div class="col-lg-6">
              <button type="submit" class="btn1 " [disabled]="!fbFormGroup.valid"
                (click)="registerHere()">REGISTER</button>
            </div>
          </div>


          <div class="form-row justify-content-center">
            <div class="col-lg-6">
              <div>Already have an account?
                <a routerLink="/login">Login Here.</a></div>
            </div>
          </div>





        </div>
      </div>

    </div>


  </div>
</div>